[submodule "botpress-server"]
	path = botpress-server
	url = git@github.com:elif-bunny/botpress-server.git
[submodule "botpress-client"]
	path = botpress-client
	url = git@github.com:elif-bunny/botpress-client.git
